/* @import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "..//.blade.php";
@source "..//.js";
@source "..//.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
} */

@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: rgb(133, 189, 238);
    font-family: "Josefin Sans", sans-serif;
}

ol {
    list-style: decimal;
    margin: 0px;
    padding: 5px;
}

.w-5 {
    width: 40px;
}

p {
    margin: 10px;
}